.syntax-editor-wrapper {
    flex: 1;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.syntax-editor-wrapper>div {
    height: 100% !important;
}

.syntax-editor-textarea {
    outline: none !important;
    background: transparent !important;
    color: var(--text-color) !important;
    caret-color: var(--text-color) !important;
}

.syntax-editor-textarea::placeholder {
    color: var(--text-color);
    opacity: 0.4;
}

.syntax-editor-textarea::selection {
    background-color: rgba(100, 108, 255, 0.3);
}

.syntax-editor-pre {
    background: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
}

/* Override any prism theme backgrounds */
.syntax-editor-pre code {
    background: transparent !important;
}